.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon {
  height: 60px;
  width: 60px;
}

.nav {
  height: 100vh;
  width: 140px;

  padding: 20px 40px 20px 10px;

  position: fixed;
  right: 0;

  text-align: right;

  background-color: #223;
}

.nav * {
  margin-bottom: 0;
  color: white;
}

.nav a:hover * {
  color: #6DD;
  cursor: pointer;
}

.nav h2 {
  margin-bottom: 20px;
}

.nav .bold * {
  font-weight: bold;
}

.nav .navBottom {
  position: absolute;
  
  text-align: right;

  bottom: 20px;
  right: 30px;
}

/* @keyframes navOpen {
  from {
      margin-right: 0;
  }
  to {
      margin-left: 
  }
} */